body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
}

.connect-btn {
  background-color: #0d0d40;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.hero-section {
  padding: 2rem;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.text-content h1 {
  font-size: 2.5rem;
  max-width: 600px;
}

.text-content span {
  color: #2196f3;
}

.buttons {
  margin-top: 1rem;
}

.btn-dark {
  background: #0d0d40;
  color: white;
  padding: 0.7rem 1.5rem;
  border: none;
  margin-right: 1rem;
  border-radius: 6px;
}

.btn-light {
  background: #4fb4f5;
  color: white;
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 6px;
}

.image-content img {
  width: 300px;
  border-radius: 50%;
}
